import libraries

In [1]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

load the kap_dim to merge them later on NAME_LATIN

In [2]:
kap_dim = gpd.read_file('../data/oriaprokapodistriakwnota/oria_prokapodistriakwn_ota/oria_prokapodistriakwn_ota_WGS84_ALL.shp')\
                [['NAME_LATIN','HubDist','hubdist_2', 'hubdist_3','oiki_densi', 'medianpopu','geometry']]\
                .rename(columns={'HubDist':'dist_coast','hubdist_2':'dist_beach','hubdist_3':'dist_city', 'medianpopu':'pop_densi'})

In [3]:
kap_dim.head()

,NAME_LATIN,dist_coast,dist_beach,dist_city,oiki_densi,pop_densi,geometry
0,K. SKALAS VRVPOY_1,0.00589,0.09695,0.17829,0.14515,3711.0,"POLYGON ((23.75101429971932 38.33518802431447,..."
1,K. NEVN PALATIVN_1,0.00055,0.06213,0.21335,0.30373,3647.0,"POLYGON ((23.76508710930473 38.32550627741894,..."
2,K. SYKAMINOY,0.03027,0.11387,0.19576,0.28702,3647.0,"POLYGON ((23.68491052299799 38.32400248539284,..."
3,K. MARKOPOYLOY VRVPOY,0.07166,0.09610,0.27729,0.17024,3770.5,"POLYGON ((23.83593913761958 38.31217132561655,..."
4,K. NEVN PALATIVN_2,0.00055,0.06213,0.21335,1.20787,3647.0,"POLYGON ((23.72745967508806 38.32690290685498,..."

load the cleaned spitogatos data

In [5]:
new_ns_frame = pd.read_csv('df_resolute_CLEANED_4IQR.csv')
new_ns_frame.sample()

In [6]:
len(new_ns_frame)

78133

merge them

In [7]:
points_geo = pd.merge(new_ns_frame, kap_dim, on='NAME_LATIN')

In [9]:
points_geo.sample()

### save to csv

In [10]:
# pd.DataFrame(points_geo.drop(columns='geometry')).to_csv('df_resolute_CLEANED_4IQR_4PREP.csv', index=False)

### per name find the avg price and area

In [9]:
name_latin_price_area = points_geo[['PricePerM2','Area_sqm','NAME_LATIN']].groupby('NAME_LATIN').mean()\
                                                    .reset_index()

In [12]:
# name_latin_price_area.to_csv('name_latin_price_area.csv', index=False)

In [11]:
name_latin_price_area.sort_values('Area_sqm', ascending=False).head()

            NAME_LATIN  PricePerM2  Area_sqm
507       K. KORVNEIAS        10.0    2600.0
710         K. TYLISOY        27.0    2580.0
372       K. BAMBAKIAS         6.0    2500.0
245       D. SIATISTHS         1.0    2200.0
486  K. KATV BASILIKVN         2.0    2075.0

In [13]:
NAME_LATIN_meanPricePerM2 = pd.DataFrame(points_geo["PricePerM2"].groupby(points_geo['NAME_LATIN']).mean())
NAME_LATIN_meanPriceEuro = pd.DataFrame(points_geo["PriceEuro"].groupby(points_geo['NAME_LATIN']).mean())

In [14]:
NAME_LATIN_meanPricePerM2.sort_values('PricePerM2', ascending=False).head()

                                 PricePerM2
NAME_LATIN
K. SXOINOYSSHS (NHSOS)_1        4643.000000
D. MYKONIVN (NHSOS MYKONOS)_1   4015.019672
D. BOYLIAGMENHS_1               3380.666667
K. OIAS                         2791.529880
K. APOLLVNIAS (NHSOS SIFNOS)_1  2729.566372

In [56]:
# NAME_LATIN_meanPriceEuro.sort_values('PriceEuro', ascending=False).head()